<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ship Battle Angular Client</a>
            <app-login-partial></app-login-partial>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <router-outlet></router-outlet>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Ship Battle Angular Client
    </div>
</footer>
